:root {
  --mt-text-primary: rgba(235, 235, 235, 0.64);
  --mt-theme-primary: rgb(19, 19, 19);
  --mt-theme-primary-sidebar: rgb(31, 31, 31);
  --mt-theme-primary-header: rgb(44, 44, 44);
  --mt-color-green: hsla(160, 100%, 37%, 1);
  --mt-color-green-hover: hsla(160, 100%, 37%, 0.2);
}

:root {
  --color-background: var(--mt-theme-primary);
  --color-text: var(--mt-text-primary);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0px;
  padding:0px;
}

