.mt-ft-lg{
    font-size:25px;
}
.mt-ft-color-red{
    color: rgb(255 77 77);
}
.mt-circle {
  border-radius: 15px;
  background-color: #ff4d4d0d;
  padding: 7px 14px;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out, background-color 0.1s;
  display: inline-block;
}

.mt-circle:hover {
  background-color: #fc5e5e0d;
  box-shadow: 0 0 6px rgba(255, 77, 77, 0.5);
}

.mt-circle.skill-color {
  border: 1px solid rgb(var(--bubble-hover-color));
  background-color: rgba(var(--bubble-hover-color), 0.2);
  color: rgb(var(--bubble-hover-color));
  font-weight: 500;
}
.mt-circle.skill-color:hover {
  border-color: rgb(var(--bubble-hover-color));
  box-shadow: 0 0 6px rgb(var(--bubble-hover-color));
  color: rgb(var(--bubble-hover-color));
}

.mt-section{
    margin-bottom:3.5rem;
}

.mt-border {
  --x: 50%;
  --y: 50%;

  position: relative;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  border: 3px solid transparent;
  padding: 2rem;
  background: 
    linear-gradient(var(--color-background), var(--color-background)) padding-box,
    radial-gradient(circle at var(--x) var(--y), 
      rgba(0, 201, 167, 0.7), 
      rgba(132, 94, 194, 0.7), 
      transparent 50%) border-box;

  transition: background 0.2s ease;
  z-index: 0;
}

/* Tiny subtle glow */
.mt-border::before {
  content: "";
  position: absolute;
  inset: 0; /* only right at the border */
  border-radius: inherit;
  background: radial-gradient(circle at var(--x) var(--y), 
      rgba(0, 201, 167, 0.25), 
      rgba(132, 94, 194, 0.25), 
      transparent 3%);
  filter: blur(30px); /* much smaller blur */
  z-index: -1;
  transition: background 0.2s ease;
}

.mt-btn{
  border-radius: 15px;
  background-color: #42b883;
  padding: 7px 14px;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out, background-color 0.1s;
  color:#35495e;
}
.mt-btn:hover {
  background-color: #fc5e5e0d;
  box-shadow: 0 0 6px rgba(255, 77, 77, 0.5);
}